<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PageMain2</title>
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
     <link rel="stylesheet" href="style2.css">
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>
<body>
      <input type="checkbox" id="sidebar-toggle">
         <div class="sidebar">
             <div class="sidebar-header">
             <h3 class="brand">
             <span class="ti-unlink"></span>
             <span>Taugor</span>
            </h3>
            <label for="sidebar-toggle" class=> <i class="fa-solid fa-bars"></i></label>
        </div>
             
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="">
                        <span class=><i class="fa-solid fa-house"></i></span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class=><i class="fa-solid fa-user"></i></span>
                        <span>Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class=> <i class="fa-solid fa-box"></i></span>
                        <span>Cadastro de Caixas</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class=><i class="fa-solid fa-right-from-bracket"></i></span>
                        <span>Sair</span>
                    </a>
                </li>
               
            </ul>
        </div>

        </div>
        <div class="main-content">
            <header>
                <div class="search-wrapper">
                    <span class=><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="search" placeholder="Search">
                </div>
            </header>
            <main>
                <div class="content">
                    <div class="titulo-secao">
                        <h2>Dashboard</h2>
                        <br/>
                    </div>
                </div>
                <div class="box-info">
                    <div class="box-info-single">
                    <div class="info-text">
                          <h3>Quantidade de Caixas</h3>
                          <p>132</p>
                        </div>
                        <i class="fa-solid fa-box-open"></i>
                </div>
            </div>
           <!--<canvas class="Bar-chart"></canvas>
            <script>
                var ctx = document.getElementsByClassName("Bar-chart")
                 
                var chartGraph = new Chart(ctx,{
                      type: 'Bar'
                      data: {
                        label:["Jan", "Fev","Mar","Abr", "Mai", "Jun", "JUl", "Ago", "Set", "Out","Nov", "Dez"],
                        datasets: [{
                            label:"Quantidades de caixas por mês",
                            data: [15,10,25,14,35,12,26,16,26,22,34,7]
                            borderWidth: 6,
                        }]
                      }
                }
                );
            </script> --> 
                
        
    </main> 
        </div>
    



    
    
    
</body>
</html>